.Stars {
    position: absolute;
    width: 100%;
    /* Our inline style sets its 'height' to the entire page height */
    pointer-events: none;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.Star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0.8;
    animation: tilt 10s infinite alternate;
    background: var(--star-color, white);
}

@keyframes tilt {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(0.5);
    }

    100% {
        transform: translateX(2px) translateY(-2px) rotate(2deg) scale(1);
    }
}