.home-container {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    line-height: 0;
    align-items: start;
}

.home-text h1.typewriter::after {
    content: "You name it,";
    visibility: hidden;
}

.home-text h1 {
    font-weight: 800;
    font-size: clamp(50px, 3.5vw, 90px);
    margin-top: clamp(25px, 2vw, 50px);
}

.home-text p {
    font-weight: 500;
    font-size: clamp(19px, 1.33vw, 33px);
    margin-top: clamp(13px, 1vw, 25px);
}

.home-pink {
    color: #E14492;
}

.home-button {
    margin-top: 3vw;
}

@media screen and (max-width: 1000px) {
    .home-container {
        flex-direction: column;
        gap: 15vh;
        margin-top: 15vh;
    }

    .home-text {
        align-items: center;
    }
}